*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.game{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;
    background: black;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    gap: 15px;
}
.box{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}
.box:after{
background-color: white;
content: "+";
transform: rotate(45deg);
font-size: 150px;
position: absolute;
width: 150px;
height: 150px;
margin-top: 69px;
margin-left: 75px;
background: 0;
opacity: 0;
}
.box:hover{
    background: grey;
}
.box:nth-child(10){
background-color: white;
opacity: 1;
}

.box:nth-child(10):after{
background-color: grey;
content: "o";
transform: rotate(0deg);
opacity: 0;
}
.box:hover:after{
 opacity: 1;
}