*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.game{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;
    background: black;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    gap: 15px;
}
.box{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}
.box:after{
background-color: white;
content: "+";
transform: rotate(45deg);
font-size: 150px;
position: absolute;
width: 150px;
height: 150px;
margin-top: 69px;
margin-left: 75px;
background: 0;
opacity: 0;
}
.box:nth-child(10):after{
    background-color: white;
    content: "0";
    transform: rotate(45deg);
    font-size: 150px;
    position: absolute;
    width: 150px;
    height: 150px;
    margin-top: 69px;
    margin-left: 75px;
    background: 0;
    opacity: 0;
}
.box:hover{
    background: grey;
}
.box:nth-child(10){
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}
.box:nth-child(10):hover{
    background: grey;
}
.box:nth-child(10):hover:after{
opacity: 1;
}
.box:hover:after{
 opacity: 1;
}
.cross{
    width: 250px;
    height: 250px;
    background-color: red;
    border-radius: 10px;
    font-size: 150px;
}
.zero{
    width: 250px;
    height: 250px;
    background-color: blue;
    border-radius: 10px;
    font-size: 150px;
}